<!-- homeアクションで表示される内容 -->
<div class="home container-fluid">
    <div class="homeHeader">
        <p class="homeHeaderTitle">スケジュール一覧</p>
        <button class="btn btn-success flex-shrink-0">
            ＋ 新規追加
        </button>
    </div>

    <div class="homeMain">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">開始日</th>
                    <th scope="col">終了日</th>
                    <th scope="col">終日</th>
                    <th scope="col">更新日時</th>
                    <th scope="col">詳細表示</th>
                    <th scope="col">編集</th>
                    <th scope="col">削除</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>リンク</td>
                    <td>リンク</td>
                    <td>リンク</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="homeFooter card-body">
        <p>合計スケジュール数：<span>00</span>件</p>
        <p>本日の日付：<span>2024/05/01</span></P>
    </div>
</div>
