<!-- /schedules -->
<div class="index container-fluid">
    <div class="indexHeader">
        <p class="indexHeaderTitle">スケジュール一覧</p>
        <button class="btn btn-success">
            <a href="/schedules/new">＋ 新規追加</a>
        </button>
    </div>

    <div class="indexMain">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">開始日</th>
                    <th scope="col">終了日</th>
                    <th scope="col">終日</th>
                    <th scope="col">更新日時</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td>セル</td>
                    <td><a href="/schedules/id">詳細</a href="/schedules/id"></td>
                    <td><a href="/schedules/id/edit">編集</a></td>
                    <td>削除</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="indexFooter card-body">
        <p>合計スケジュール数：<span>00</span>件</p>
        <p>本日の日付：<span>2024/05/01</span></P>
    </div>
</div>