<!-- /schedules/:id -->
<div class="show">
    <a href="/schedules"><span aria-hidden="true">&larr;</span> 一覧へ戻る</a>
    <section class="scheduleCard">
        <header>
            <h2>titledata</h2>
            <button class="btn-outline-primary"><a href="/schedules/id/edit">編集</a></button>
        </header>
        <table class="table">
            <tr>
                <th>開始日</th>
                <td>startdata</td>
            </tr>
            <tr>
                <th>終了日</th>
                <td>enddata</td>
            </tr>
            <tr>
                <th>終日</th>
                <td>alldaydata</td>
            </tr>
            <tr>
                <th>メモ</th>
                <td>memodata</td>
            </tr>
        </table>
    </section>
</div>