// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// =================================================================
//ヘッダー部分
// =================================================================
.mainHeader {
    width: 100%;
    max-width: 1920px;
    background-color: rgb(5, 91, 0);
    color: aliceblue;
    font-weight: 700;
    padding: 20px 0;
}
// =================================================================
//ホーム画面
// =================================================================
.index {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto 0 auto;

    &Header{
        display: flex;
        justify-content: space-between;

        &Title {
            font-weight: 700;
            font-size: 20px;
            margin-top: 10px;
        }

        button {
            height: 50px;
        }
    }

    &Main{
        margin-top: 10px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        box-shadow: #e4e4e4;
    }

    &Footer{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
    }
}

// =================================================================
//フッター部分
// =================================================================
.mainFooter {
    width: 100%;
    max-width: 1920px;
    background-color: rgb(5, 91, 0);
    height: 40px;
    position: absolute;
    bottom: 0;
    margin-top: 40px;
}